// COLORS
$primary-color: #88c0d0;
$secondary-color: #81a1c1;

$white-color: #3b4252;

$dark-grey: #2e3440;
$light-grey: #777c85;

$cream-text: #f5f7f9; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
